name: FinViewer CI Pipeline

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  test-suite:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Start Services
        run: docker compose up -d --build

      - name: Run Backend Tests
        run: docker compose exec backend pytest

      - name: Security Audit
        run: docker compose exec backend pip install pip-audit && docker compose exec backend pip-audit

      - name: Shutdown
        run: docker compose down